body {
    background: #EFEFEF;
}


d-page:not([active]) {
    display: none;
}

d-control {
    display: flex;
}

d-control-back, 
d-control-next, 
d-control-summary, 
d-control-submit {
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 0.1rem solid black;
    border-radius: .5rem;
    background: #FAFAFA;
    cursor: pointer;
}
d-control-back {
    /*margin-right: auto;*/
}
d-control-back::selection, 
d-control-next::selection, 
d-control-summary::selection, 
d-control-submit::selection{
    background: inherit;
}

d-control-back:not([active]), 
d-control-next:not([active]), 
d-control-summary:not([active]), 
d-control-submit:not([active]) {
   display: none;
}

d-control-back[disabled], 
d-control-next[disabled], 
d-control-summary[disabled], 
d-control-submit[disabled] {
    opacity: 0.7;

    background: #AFAFAF;

}
[condition-invalid] {
    display: none;
}

[no-value] {
    border: 0.1rem solid blue;
}

[valid] {
    border: 0.1rem solid red;
}

d-validation:not([active]){
   display: none;
}